<ion-header style="margin-top:1.5rem">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    @if (form.controls.email.invalid && (form.controls.email.touched || form.controls.email.dirty)) {
      <p class="error-text">
        @if (form.controls.email.errors?.['required']) { Email é obrigatório }
        @else if (form.controls.email.errors?.['email']) { Email inválido }
        }

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    @if (form.controls.password.invalid && (form.controls.password.touched || form.controls.password.dirty)) {
      <p class="error-text">
        @if (form.controls.password.errors?.['required']) { Senha é obrigatória }
        @else if (form.controls.password.errors?.['minlength']) { Senha deve ter pelo menos 6 caracteres }
      </p>
    }

    @if (createUser()) {
      <ion-item>
        <ion-label position="floating">Repita sua senha</ion-label>
        <ion-input formControlName="password2" type="password"></ion-input>
      </ion-item>
      @if (form.controls.password.invalid && (form.controls.password.touched || form.controls.password.dirty)) {
        <p class="error-text">
          @if (form.controls.password.errors?.['required']) { Senha é obrigatória }
          @else if (form.controls.password.errors?.['minlength']) { Senha deve ter pelo menos 6 caracteres }
        </p>
      }

      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" type="name"></ion-input>
      </ion-item>
      @if (form.controls.name.invalid && (form.controls.name.touched || form.controls.name.dirty)) {
        <p class="error-text">
          @if (form.controls.name.errors?.['required']) { Nome é obrigatório }
        </p>
      }
    }
    <ion-button expand="full" type="submit">
      @if (createUser()) { Criar Conta } @else { Entrar }
    </ion-button>
    <ion-button expand="full" (click)="toggleLogin()">Alternar Login/Cadastro</ion-button>
    <p [style.color]=" isError() ? 'red' : 'green'">{{ error }}</p>
  </form>
</ion-content>

