<ion-content class="image-carousel">
  <div class="image-carousel__header">
    <div class="image-carousel__title-wrapper">
      <h1 class="image-carousel__title">
        {{ title }}
      </h1>
        @if (hasNewItem) {
          <ion-badge class="image-carousel__badge">NOVO</ion-badge>
        }
    </div>
      @if (showAddButton) {
        <app-icon-circle  class="image-carousel__add-button" [icon]="'add'" [size]="0.7" (click)="addNew.emit()"> </app-icon-circle>
      }
  </div>
  <swiper-container [modules]="swiperModules" [slidesPerView]="1.5" [spaceBetween]="15" [slidesOffsetBefore]="35" [slidesOffsetAfter]="35" class="image-carousel__swiper">
    @if (showAddButton) {
      <swiper-slide class="image-carousel__swiper-slide" >
        <img src="assets/images/default.jpg" alt="">
        <div class="image-carousel__swiper-slide__add">
          <app-icon-circle [icon]="'add'" [size]="1.1" [color]="'white'" (click)="addNew.emit()"></app-icon-circle>
          <p class="image-carousel__swiper-slide__add-text"> NOVO <br> TREINO</p>
        </div>
      </swiper-slide>

    }
    @for (item of items; track item.title) {
      <swiper-slide class="image-carousel__swiper-slide" (click)="programClicked.emit(item)" >
        <img [src]="item.image" alt="">
        @if (item.status === 'STARTED' && showStatus) {
          <p class="image-carousel__swiper-slide-status">continuar treinando</p>
        }
        <p class="image-carousel__swiper-slide-description">{{ item.title }}</p>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>

