<ion-header>
    <div class="home-header">
      <div class="home-header__toolbar-wrapper">
      <ion-icon name="menu-outline" style="font-size: 3rem;" (click)="openMenu()"></ion-icon>
      <img class="home-header__logo" src="assets/icon/logo_usina_play.png" alt="custom icon" />
      <div class="home-header__notification-wrapper" (click)="openNotifications()">
        <ion-icon name="notifications" class="home-header__notification-icon"></ion-icon>
        @if (hasNewNotifications) {
          <div class="home-header__notification-badge"></div>
        }
      </div>
      </div>
      <div class="home-header__user-wrapper">
        <ion-avatar class="home-header__avatar">
          <img src="assets/icon/thispersondoesntexist.jpeg" alt="custom icon" />
        </ion-avatar>
        <div class="home-header__user-name-wrapper">
          <span class="home-header__user-name">{{user.name }} {{user.lastName}}</span>
          <span class="home-header__user-level" [class]="user.userLevel">{{ UserLevelLabel[user.userLevel]}}</span>
        </div>
      </div>
      <div class="home-header__user-info">
        <div class="home-header__user-info-wrapper">
          <app-icon-circle [icon]="'body'"> </app-icon-circle>
        <span class="home-header__user-info-text">MEU CORPO</span>
        </div>
        <div class="home-header__user-info-wrapper">
          <app-icon-circle [icon]="'trophy'"> </app-icon-circle>
        <span class="home-header__user-info-text">OBJETIVOS E CONQUISTAS</span>
          </div>
      </div>
    </div>
</ion-header>

<ion-content class="home-content">
  <app-image-carousel [items]="personalTrainerCarouselItems" [title]="'PERSONAL ONLINE'" [showAddButton]="true" (addNew)="createNew()"></app-image-carousel>
  <app-image-carousel [items]="programsCarouselItems" [title]="'PROGRAMAS'" [showStatus]="true" (slideClicked)="slideClicked($event)" ></app-image-carousel>
  <app-image-carousel [items]="contentCarouselItems" [title]="'CONTEÚDOS'"  ></app-image-carousel>
</ion-content>

